html {
  font-size: 16px;
  font-family: calibri;
}
#phone {
  display: none;
}
header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  border: 2px solid black;
  align-items: center;
}
.logo-container {
  display: flex;
}
.logo-container span {
  font-size: 1.5rem;
}

#desktop {
  display: block;
  padding: 1rem 1.5rem 1rem auto;
  font-size: 1.25rem;
}
a {
  color: black;
  padding: 1rem 1rem;
}

h1 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2rem;
  }
h5 {
  font-size: 2rem;
}
.banner-content-container {
  display: flex;
  border: 1px solid red;
  width: 100%;
  background-color: silver;
    }

.banner {
  display: flex;
  border: 2px solid yellow;
  width: 100%;
}
.banner-text {
  display: flex;
  align-content: left;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 5rem 7rem;
  box-sizing: border-box;
}
.banner-button {
    width: 66%;
    background-color: black;
    text-align: center;
    padding: .66rem 0;
    font: 2rem;
    height: 7rem;
    color: white;
}
.learn-content-container {
  display: flex;
  border: 1px solid red;
}
.learn {
  display: flex;
  border: 2px solid yellow;
}
.left-column {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2.6rem 3.6rem 2rem 1.5rem;
  }
.orientation, .campus, .guest {
    border: 2px solid gray;
    display: flex;
      }
.text-container {
  box-sizing: border-box;
  flex-wrap: wrap;
  border: 1px solid red;
  width: 60%;
}
.learn-image {
  border: 1px solid blue;
  padding: 2.5rem 2.5rem;
  }

.left-column img{
  width: 100%;
}

.right-column {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 40%;
  height:
}
.banner .right-column {
  background-color: silver;
}
.video {
  display: flex;
  flex-direction: column;
}
.Fisma {
  display: flex;
  width 100%;
  flex-direction: column;
  padding: 5rem 5rem;

}
.thesis-topright-image, .Fisma {
  background-color: silver;
  padding: 1rem 1rem;
}
.thesis-topright-topic {
  width: 100%;
  background-color: silver;
}
.content-button {
  color: lightblue;
}
.guest {
  background-color: silver;
}
.content-container {
  border: 2px solid purple;
  display: flex;
  width: 100%;
}
.start-learning-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: silver;
  width: 97%;
  box-sizing: border-box;;
  padding: 2rem;
  margin-left: 2rem;
}
.course-container {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 2rem;
  box-sizing: border-box;
  border: 2px solid black;
}
 .course-container img {
   height: 13.75rem;
 }
 .courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.course-text {
  background-color: white;
  text-align: left;
  height: 15rem;
}

.start-learning h1{
  text-align: center;
  padding: 4rem auto;
}

.course-text h2 {
  font-size: 1.9rem;
  padding-left: 1rem;

}
.course-text p {
  font-size: 1.4rem;
  padding-left: 1rem;
}
.course-desc {
  font-size: 1.1rem;
  padding-left: 1rem;
}
.video controls {
  padding-left: 2rem;
  height: 100%;
  margin-top: 0;
}
.left-column source {
  width: 100%;

}
.thesis-content-container {
  width: 100%;
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.column-left-text{
  Padding-left: 2rem;
}
.thesis-right-topic {
  display: flex;
  width: 100%;
}
.thesis-topright-image {
background-color: silver;
}
.thesis-title h1 {
  text-align: center;
  padding: 2rem auto;
}
.thesis-right-image{
  padding: 1rem 1rem;
  box-sizing: border-box;
}
 footer {
   display: flex;
   justify-content: space-between;
   padding: 2px;
 }
 .footer2 {
   font-size: 1.5rem;

   @media only screen and (max-width: 470px){
      body {
        display: block;
      }
      #phone {
        display: block;
      }

      nav #desktop{
        display: none;
        }

    .banner .left-column img {
      display: none;
    }

  }
