html {
  font-size: 16px;
  font-family: calibri;
}

.header-desktop {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
}

.header-phone {
  display: none;
}
.start-learning-mobile {
  display: none;
}
.logo-container {
  display: flex;
}
.logo-container span {
  font-size: 1.5rem;
}

a {
  color: black;
  padding: 1rem 1rem;
}

h1 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2rem;
  }
h5 {
  font-size: 2rem;
}
.banner-content-container {
  display: flex;
  width: 100%;
  background-color: gainsboro;
  }

.banner-text {
  display: flex;
  align-content: left;
  flex-wrap: wrap;
  width: 100%;
  padding: 5rem;
  box-sizing: border-box;
  background-color: gainsboro;
  height: 100%;
  flex-direction: column;
}
.learn-content-container {
  display: flex;
  }
.banner-button {
  width: 66%;
  background-color: #262626;
  text-align: center;
  padding: .66rem 0;
  border-radius: 1rem;
  font: 2rem;
  height: 7rem;
  color: white;
  }

.learn {
  display: flex;
  }
  .learn-text {
    padding: 2rem;
  }
.left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
  }
.orientation, .campus, .guest {
    display: flex;
    }

.text-container {
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 60%;
}
.learn-image {
    padding: 2.5rem 2.5rem;
    }

.left-column img{
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.right-column {
  border-left: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.banner .right-column {
  background-color: gainsboro;
  width: 100%;
}
video {
  display: flex;
  flex-direction: column;
  height: calc(1080 / 1920 * 100%);
  width: 100%;
}
.Fisma {
  display: flex;
  width 100%;
  flex-direction: column;
  padding: 5rem 5rem;

}
.thesis-topright-image, .Fisma {
  padding: 1rem 1rem;
}

.content-button {
  color: darkblue;
}
.orientation:hover {
  background-color: steelblue;
}
.campus:hover {
  background-color: steelblue;
}
.guest:hover {
  background-color: steelblue;
}


.content-container {
  display: flex;
  width: 100%;
}
.start-learning-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}
.course-container {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 2rem;
  box-sizing: border-box;
}
.course-container:hover{
  background-color: steelblue;
}
 .course-container img {
   height: 13.75rem;
 }
 .courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.course-text {
  background-color: white;
  text-align: left;
  height: 15rem;
}

.start-learning h1{
  text-align: center;
  padding: 4rem auto;
}

.course-text h2 {
  font-size: 1.9rem;
  padding-left: 1rem;

}
.course-text p {
  font-size: 1.4rem;
  padding-left: 1rem;
}
.course-desc {
  font-size: 1.1rem;
  padding-left: 1rem;
}
.video controls {
  padding-left: 2rem;
  height: 100%;
  margin-top: 0;
}
.left-column source {
  width: 100%;

}
.thesis-content-container {
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column-left-text{
  Padding-left: 2rem;
  height: 20%;
}
.thesis-topright-topic {
  display: flex;
  width: 100%;
}
.thesis-topright-topic:hover {
  background-color: gainsboro;
}
.thesis-topright-image {
  padding: 2rem;
}
.thesis-title h1 {
  text-align: center;
  padding: 2rem auto;
}
.Now-and-Then {
  padding: 2rem;
}
.thesis-right-topic {
  display: flex;
    width: 100%;
}
.thesis-right-topic:hover {
  background-color: gainsboro;
}
.thesis-right-image{
  padding: 2rem;
  box-sizing: border-box;
}
 footer {
   display: flex;
   justify-content: space-between;
   padding: 2rem;
 }
 .footer2 {
   font-size: 1.5rem;
 }
/*Media Query*/
@media only screen and (max-width: 480px){
      body {
        display: block;
      }

  .header-desktop {
       display: none;
       }

 .header-phone {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    align-items: center;
   }
.banner-content-container {
  display: flex;
  flex-direction: column;
}
.banner-button {
  /*height: 5rem;*/
  width: 20rem;
  text-align: center;
  background-color: dimgray;
}

  .banner-content-container .left-column {
    height: 11.25rem;
    background-color: dimgray;
    flex-direction: column;
    width: 100%;
  }

  .banner right-column {
    width: 100;
    padding: 1rem;
  }

  .banner-content-container .left-column img {
      display: none;
  }

  .learn .left-column img {
  display: none;
}
.learn-text {
  display: none;
  }
.column-left-text h3 {
  display: none;
}
.learn .left-column {
  display: none;
}
.text-container {
  width: 100%;
}
.right-column {
  width: 100%;
}
.learn {
  width: 100%;
}
.orientation, .campus, .guest {
  flex-direction: column;
  width: 100%;
}
 .start-learning {
   display: none;
 }
 .start-learning-mobile {
   display: block;
 }
 .start-learning-content-container {
   background-color: white;
 }
 .start-learning-mobile h1 {
   font-size: 3rem;
 }
 .course-container {
   background-color: gainsboro;
   display: flex;
   width: 100%;
   height: 3rem;
   margin: .5rem 0;
   align-content: center;
 }
 .courses {
   display: flex;
   flex-direction: column;
   width: 100%;
 }
 .text-container {
   padding: 2rem 2rem;
 }

.thesis-content-container .right-column {
  display: none;
  }
  .column-left-text {
    display: none;
   }
.thesis-content-container .left-column {
  width: 100%;
  margin-bottom: 0;
  align-items: flex-start;
  }
  .footer2 {
    display: none;
  }
  .footer1 h5{
    font-size: 1rem;
    font-weight: normal;
    }
}
